name: Node.js

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Node.js
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: actions/checkout@v6
      - run: npm ci
      - run: npm test
